# Python
__pycache__/
*.py[cod]
*$py.class

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env

# Data
# Exclude the large cybersecurity dataset to prevent large pushes to github
data/cybersecurity_attacks.csv

# IDEs
.vscode/
.idea/
